{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to MarkDown Blog {% endblock %}</h1>
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <span class="badge badge-light">#{{ post['id'] }}</span>
            <span class="badge badge-default h6">{{ post['created'] }}</span>
            <hr>
            <p>{{ post['content'] |safe }}</p>
        </div>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge rounded-pill text-bg-primary">Edit</span>
        </a>
    </div>
    <hr>
    {% endfor %}
{% endblock %}